DB_USER = ""
DB_PASSWORD = ""
DB_HOST = ""
DB_PORT = "13729"
DB_NAME = ""
TABLE_NAME = ""

## Dados do docker-compose.yaml

MYSQL_ROOT_PASSWORD=root_password_segura
MYSQL_DATABASE=dw_autoprime
MYSQL_USER=engenheiro
MYSQL_PASSWORD=senha123